{% extends 'base.html' %} {% load i18n %} {% load static %} {% block content %}

<!--=========== BEGIN COURSE BANNER SECTION ================-->
<section id="imgBanner">
  <h2>History</h2>
</section>
<!--=========== END COURSE BANNER SECTION ================-->

<!--=========== BEGIN COURSE BANNER SECTION ================-->
<section id="aaa">
    <div class="container">
      <div class="row">
        <!-- start course content -->
        <div class="col-lg-8 col-md-8 col-sm-8">
          <div class="courseArchive_content">
            <!-- start blog archive  -->
            <div class="row">
              <!-- start single blog -->
              <div class="col-lg-12 col-12 col-sm-12">
                <div class="single_blog">
                  <h2 class="blog_title">
                    <a href="blog-single.html">Academic</a>
                  </h2>
                  <p align="justify">
                    {% blocktranslate %} A dire need then prevailed for a school
                    in North Kanumuladeniya of North Giruwa Pattu in Hambantota
                    District at about 1928. Thereupon Mr. M.D. Sadiris and Mr.
                    M.T. Singho ; the founding fathers&quot; the two distinguished
                    personalities then lived in the area with the constant support
                    and assistance of the villagers were able to pitch a coconut
                    thatched shed that coincides with the location of the present
                    {% endblocktranslate %}
                  </p>
                  
                </div>
              </div>
              <!-- End single blog -->
              <!-- start single blog -->
              <div class="col-lg-12 col-12 col-sm-12">
                <div class="single_blog">
                  <h2 class="blog_title">
                    <a href="blog-single.html">Sports</a>
                  </h2>
                  <p align="justify">
                    {% blocktranslate %} A dire need then prevailed for a school
                    in North Kanumuladeniya of North Giruwa Pattu in Hambantota
                    District at about 1928. Thereupon Mr. M.D. Sadiris and Mr.
                    M.T. Singho ; the founding fathers&quot; the two distinguished
                    personalities then lived in the area with the constant support
                    and assistance of the villagers were able to pitch a coconut
                    thatched shed that coincides with the location of the present
                    {% endblocktranslate %}
                  </p>
                  
                </div>
              </div>
              <!-- End single blog -->
              <!-- start single blog -->
              <div class="col-lg-12 col-12 col-sm-12">
                <div class="single_blog">
                  <h2 class="blog_title">
                    <a href="blog-single.html">Extra-curricular</a>
                  </h2>
                  <p align="justify">
                    {% blocktranslate %} A dire need then prevailed for a school
                    in North Kanumuladeniya of North Giruwa Pattu in Hambantota
                    District at about 1928. Thereupon Mr. M.D. Sadiris and Mr.
                    M.T. Singho ; the founding fathers&quot; the two distinguished
                    personalities then lived in the area with the constant support
                    and assistance of the villagers were able to pitch a coconut
                    thatched shed that coincides with the location of the present
                    {% endblocktranslate %}
                  </p>
                  
                </div>
              </div>
              <!-- End single blog -->
            
            </div>
            
            <!-- end blog archive  -->
          </div>
        </div>
        <!-- End course content -->
  
        <!-- start course archive sidebar -->
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="courseArchive_sidebar">
            <!-- start single sidebar -->
            <div class="single_sidebar">
              <a class="side_add p-2" href="#"
                ><img src="{% static 'img/side-add.jpg' %}" alt="img"
              /></a>
              <h2>Old Main Hall<span class="fa fa-angle-double-right"></span></h2>
              <a class="side_add" href="#"
                ><img src="{% static 'img/side-add.jpg' %}" alt="img"
              /></a>
              <h2>Principal<span class="fa fa-angle-double-right"></span></h2>
            </div>
            <!-- End single sidebar -->
          </div>
        </div>
        <!-- start course archive sidebar -->
      </div>
    </div>
</section>

<!--=========== END COURSE BANNER SECTION ================-->

{% endblock content %}