{% extends 'base.html' %} {% load i18n %} {% load static %} {% block content %}

<!--=========== BEGIN COURSE BANNER SECTION ================-->
<section id="imgBanner">
  <h2>History</h2>
</section>
<!--=========== END COURSE BANNER SECTION ================-->

<!--=========== BEGIN COURSE BANNER SECTION ================-->
<section id="aaa">
    <div class="container">
      <div class="row">
        <!-- start course content -->
        <div class="col-lg-8 col-md-8 col-sm-8">
          <div class="courseArchive_content">
            <!-- start blog archive  -->
            <div class="row">
              <!-- start single blog -->
              <div class="col-lg-12 col-12 col-sm-12">
                <div class="single_blog">
                  <h2 class="blog_title">
                    <a href="blog-single.html">March of Time</a>
                  </h2>
                  <p align="justify">
                    {% blocktranslate %} A dire need then prevailed for a school
                    in North Kanumuladeniya of North Giruwa Pattu in Hambantota
                    District at about 1928. Thereupon Mr. M.D. Sadiris and Mr.
                    M.T. Singho ; the founding fathers&quot; the two distinguished
                    personalities then lived in the area with the constant support
                    and assistance of the villagers were able to pitch a coconut
                    thatched shed that coincides with the location of the present
                    school was declared open by bringing in a paid teacher from
                    Deiyandara to thus set up a school with 5 children. As the
                    time went by, the need for a new building gradually emerged.
                    So that the new building together with a teacher&#39;s living
                    quarters built through the good offices of donors and the then
                    officials in the area was officially transferred to the
                    government on 21 st January 1933. Subsequently, the teaching
                    and learning process got off the ground with seven (7)
                    children in July 1933. It was recorded that Mr. D.D.N.
                    Kulasekara had held the office of principal first.
                    {% endblocktranslate %}
                  </p>
                  <p align="justify">
                    {% blocktranslate %} There were classes from grade one to four
                    in the beginning. There was a Sunday school and an adult class
                    in addition to teaching medicine, English, Pali and Sanskrit
                    to juniors in this school from 1933 to 1953 Subquently, the
                    children who got through the junior level exam were
                    facilitated to further their education in senior grades on 1
                    st of January 1954 removing the longstanding adversities and
                    obstacles the students faced thus far.{% endblocktranslate %}
                  </p>
                  <p align="justify">
                    {% blocktranslate %} It was reported that nine (9) students
                    out of the total had passed the senior exam for the first time
                    according to the historical information available in the log
                    books. In addition, a volleyball team that beat their rivals
                    at both divisional and provincial levels was able to represent
                    the school at the all island volleyball tournament held in
                    1956.{% endblocktranslate %}
                  </p>
                  <p align="justify">
                    {% blocktranslate %} Thereafter the then chief incumbent of
                    Chandimarama temple ; late venerable Chandima Thera with some
                    villagers were instrumental in upgrading the school to Maha
                    Vidyalaya status. As a result of their relentless pursuit; the
                    school was recognized as H/Kanumuldeniya North Maha Viddyalaya
                    on 24 th December 1964.{% endblocktranslate %}
                  </p>
                  <p align="justify">
                    {% blocktranslate %} Mr. Gunapala Welhenage currently a
                    resident in UK and Mr. U. M. Gunapala who had later become a
                    lawyer and an assistant commissioner of labour respectively
                    were the first to gain the privilege of university admission
                    from Kanumuldeniya School.{% endblocktranslate %}
                  </p>
                  <p align="justify">
                    {% blocktranslate %} This school has been able to produce
                    eminent personalities both in academic and sports levels. In
                    this regard winning the Beliatta Division challenge trophy on
                    29 March 1963 under 16 drill display team all island
                    participation on 13th July 1963 and winning the Mulgirigala
                    Division competition were to name but a few.
                    {% endblocktranslate %}
                  </p>
                  <p align="justify">
                    {% blocktranslate %} Later in 1980 receiving a library
                    building which was lacking for ages and then school being
                    promoted to 1AB type in 1986 marked a turning point in the
                    history of the school. When looking back on the history, Mr.
                    M.D. Nagarathna deserves a special mention as he was an asset
                    to our school. He received his basic education by being under
                    roof of his alma-mater North Kanumuldeniya. Later he became an
                    obstetrician (gynecologist){% endblocktranslate %}
                  </p>
                  <p align="justify">
                    {% blocktranslate %} On top of everything; this school has
                    been able to produce many a young student who excelled in
                    medicine, engineering and other streams as well in the school
                    history. A new chapter dawned in the school&#39;s history was
                    that the concept of introducing an Old Boys Association which
                    was once limited to a few leading schools in cities and
                    suburbs. Later it gradually became a reality in 1999 with the
                    first annual prize giving ceremony taking place. This was in
                    fact, as a result of a long drawn up plan implemented by a few
                    astute old boys living in Colombo and Embilipitiya. The
                    uninterrupted, continuous prize giving ceremony that has been
                    held annually with the strenuous generous financial support
                    and guidance of all stakeholders involved would undoubtedly
                    create a profound positive effect on the school environment
                    paving the way for the children to excel in different
                    disciplines since its inception.{% endblocktranslate %}
                  </p>
                  <p align="justify">
                    {% blocktranslate %} Further; holding the annual prize giving
                    and spending a whole hoard of money was by no means a waste,
                    as it is obvious by the fact that the percentage of G.C.E
                    (O/L) and G.C.E (A/L) exams results have been on the increase
                    year by year. Our school that was developing slowly though,
                    became a Navodya school and later it came under the concept of
                    secondary school status thus finally being recommended as a
                    National school on its way to success.{% endblocktranslate %}
                  </p>
                  <p align="justify">
                    {% blocktranslate %} The present – eye- catching surroundings
                    of the school made up of perfect combination of human and
                    physical resources, fascinating shrine room and drinking water
                    project were literally due to overcoming numerous obstacles
                    and challenges to contribute to add peace and tranquility to
                    the mind still evoking a feeling of appeal and victory looking
                    back on the past on its way to success. While reflecting on
                    the teaching and listening process; it transpires that the
                    bilingual unit together with other advanced level streams
                    blends a perfect learner friendly atmosphere in this school to
                    be comprehensively competitive and victorious over fraternal
                    schools in the zone day by day. And also many children have
                    been able to show their talents and skills in extracurricular
                    activities at national level too.{% endblocktranslate %}
                  </p>
                  <p align="justify">
                    {% blocktranslate %} A school commenced with a coconut
                    thatched shed has a long history is made popular everywhere
                    right from the beginning by many, among whom the venerable
                    Bikku (Monks) and the chief prelate of Chandimarama temple
                    venerable Chandima Thera who acted in an advisory capacity,
                    principals with staff, past pupils, distinguished members,
                    officials, and villagers were commended and commemorated. And
                    also, the chief priests as well as other monks, laymen, past
                    pupils, distinguished persons and especially the forerunner,
                    current principal, Mr. H. Chandrasiri are all respectively and
                    fondly remembered again for their invaluable services,
                    rendered to launch the school on its trajectory. Thus is a
                    school that triumphed over a numerous adversities for nearly a
                    period of century has become a National school since ……….
                    April 2021. People from all walks of life aspire and sincerely
                    wish that their school may flourish by leaps and bounds to
                    produce a bunch of people who are worthy and useful citizens
                    to the world.{% endblocktranslate %}
                  </p>
                </div>
              </div>
              <!-- End single blog -->
              <div class="col-lg-12 col-12 col-sm-12">
                  <div class="single_blog">
                    <h2 class="blog_title">
                      <a href="blog-single.html">Principles</a>
                    </h2>
                    <table>
                      <tr>
                        <th>Name</th>
                        <th>Start Date</th>
                        <th>End Date</th> 
                      </tr>
                      {% for principal in principals %}
                      <tr>
                          <td>{{ principal.name }}</td>
                          <td>{{ principal.start_date }}</td>
                          <td>{{ principal.end_date }}</td>
                      </tr>
                      {% endfor %}
                   </table>
                  </div>
                </div>
            </div>
            
            <!-- end blog archive  -->
          </div>
        </div>
        <!-- End course content -->
  
        <!-- start course archive sidebar -->
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="courseArchive_sidebar">
            <!-- start single sidebar -->
            <div class="single_sidebar">
              <a class="side_add p-2" href="#"
                ><img src="{% static 'img/side-add.jpg' %}" alt="img"
              /></a>
              <h2>Old Main Hall<span class="fa fa-angle-double-right"></span></h2>
              <a class="side_add" href="#"
                ><img src="{% static 'img/side-add.jpg' %}" alt="img"
              /></a>
              <h2>Principal<span class="fa fa-angle-double-right"></span></h2>
            </div>
            <!-- End single sidebar -->
          </div>
        </div>
        <!-- start course archive sidebar -->
      </div>
    </div>
</section>
<section id="courseArchive">
  <div class="container">
    <div class="row">
      <!-- start course content -->
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="courseArchive_content">
          <!-- start blog archive  -->
          <div class="row">
            <!-- start single blog -->
            <div class="col-lg-12 col-12 col-sm-12">
              <div class="single_blog">
                <h2 class="blog_title">
                  <a href="blog-single.html">March of Time</a>
                </h2>
                <p align="justify">
                  {% blocktranslate %} A dire need then prevailed for a school
                  in North Kanumuladeniya of North Giruwa Pattu in Hambantota
                  District at about 1928. Thereupon Mr. M.D. Sadiris and Mr.
                  M.T. Singho ; the founding fathers&quot; the two distinguished
                  personalities then lived in the area with the constant support
                  and assistance of the villagers were able to pitch a coconut
                  thatched shed that coincides with the location of the present
                  school was declared open by bringing in a paid teacher from
                  Deiyandara to thus set up a school with 5 children. As the
                  time went by, the need for a new building gradually emerged.
                  So that the new building together with a teacher&#39;s living
                  quarters built through the good offices of donors and the then
                  officials in the area was officially transferred to the
                  government on 21 st January 1933. Subsequently, the teaching
                  and learning process got off the ground with seven (7)
                  children in July 1933. It was recorded that Mr. D.D.N.
                  Kulasekara had held the office of principal first.
                  {% endblocktranslate %}
                </p>
                <p align="justify">
                  {% blocktranslate %} There were classes from grade one to four
                  in the beginning. There was a Sunday school and an adult class
                  in addition to teaching medicine, English, Pali and Sanskrit
                  to juniors in this school from 1933 to 1953 Subquently, the
                  children who got through the junior level exam were
                  facilitated to further their education in senior grades on 1
                  st of January 1954 removing the longstanding adversities and
                  obstacles the students faced thus far.{% endblocktranslate %}
                </p>
                <p align="justify">
                  {% blocktranslate %} It was reported that nine (9) students
                  out of the total had passed the senior exam for the first time
                  according to the historical information available in the log
                  books. In addition, a volleyball team that beat their rivals
                  at both divisional and provincial levels was able to represent
                  the school at the all island volleyball tournament held in
                  1956.{% endblocktranslate %}
                </p>
                <p align="justify">
                  {% blocktranslate %} Thereafter the then chief incumbent of
                  Chandimarama temple ; late venerable Chandima Thera with some
                  villagers were instrumental in upgrading the school to Maha
                  Vidyalaya status. As a result of their relentless pursuit; the
                  school was recognized as H/Kanumuldeniya North Maha Viddyalaya
                  on 24 th December 1964.{% endblocktranslate %}
                </p>
                <p align="justify">
                  {% blocktranslate %} Mr. Gunapala Welhenage currently a
                  resident in UK and Mr. U. M. Gunapala who had later become a
                  lawyer and an assistant commissioner of labour respectively
                  were the first to gain the privilege of university admission
                  from Kanumuldeniya School.{% endblocktranslate %}
                </p>
                <p align="justify">
                  {% blocktranslate %} This school has been able to produce
                  eminent personalities both in academic and sports levels. In
                  this regard winning the Beliatta Division challenge trophy on
                  29 March 1963 under 16 drill display team all island
                  participation on 13th July 1963 and winning the Mulgirigala
                  Division competition were to name but a few.
                  {% endblocktranslate %}
                </p>
                <p align="justify">
                  {% blocktranslate %} Later in 1980 receiving a library
                  building which was lacking for ages and then school being
                  promoted to 1AB type in 1986 marked a turning point in the
                  history of the school. When looking back on the history, Mr.
                  M.D. Nagarathna deserves a special mention as he was an asset
                  to our school. He received his basic education by being under
                  roof of his alma-mater North Kanumuldeniya. Later he became an
                  obstetrician (gynecologist){% endblocktranslate %}
                </p>
                <p align="justify">
                  {% blocktranslate %} On top of everything; this school has
                  been able to produce many a young student who excelled in
                  medicine, engineering and other streams as well in the school
                  history. A new chapter dawned in the school&#39;s history was
                  that the concept of introducing an Old Boys Association which
                  was once limited to a few leading schools in cities and
                  suburbs. Later it gradually became a reality in 1999 with the
                  first annual prize giving ceremony taking place. This was in
                  fact, as a result of a long drawn up plan implemented by a few
                  astute old boys living in Colombo and Embilipitiya. The
                  uninterrupted, continuous prize giving ceremony that has been
                  held annually with the strenuous generous financial support
                  and guidance of all stakeholders involved would undoubtedly
                  create a profound positive effect on the school environment
                  paving the way for the children to excel in different
                  disciplines since its inception.{% endblocktranslate %}
                </p>
                <p align="justify">
                  {% blocktranslate %} Further; holding the annual prize giving
                  and spending a whole hoard of money was by no means a waste,
                  as it is obvious by the fact that the percentage of G.C.E
                  (O/L) and G.C.E (A/L) exams results have been on the increase
                  year by year. Our school that was developing slowly though,
                  became a Navodya school and later it came under the concept of
                  secondary school status thus finally being recommended as a
                  National school on its way to success.{% endblocktranslate %}
                </p>
                <p align="justify">
                  {% blocktranslate %} The present – eye- catching surroundings
                  of the school made up of perfect combination of human and
                  physical resources, fascinating shrine room and drinking water
                  project were literally due to overcoming numerous obstacles
                  and challenges to contribute to add peace and tranquility to
                  the mind still evoking a feeling of appeal and victory looking
                  back on the past on its way to success. While reflecting on
                  the teaching and listening process; it transpires that the
                  bilingual unit together with other advanced level streams
                  blends a perfect learner friendly atmosphere in this school to
                  be comprehensively competitive and victorious over fraternal
                  schools in the zone day by day. And also many children have
                  been able to show their talents and skills in extracurricular
                  activities at national level too.{% endblocktranslate %}
                </p>
                <p align="justify">
                  {% blocktranslate %} A school commenced with a coconut
                  thatched shed has a long history is made popular everywhere
                  right from the beginning by many, among whom the venerable
                  Bikku (Monks) and the chief prelate of Chandimarama temple
                  venerable Chandima Thera who acted in an advisory capacity,
                  principals with staff, past pupils, distinguished members,
                  officials, and villagers were commended and commemorated. And
                  also, the chief priests as well as other monks, laymen, past
                  pupils, distinguished persons and especially the forerunner,
                  current principal, Mr. H. Chandrasiri are all respectively and
                  fondly remembered again for their invaluable services,
                  rendered to launch the school on its trajectory. Thus is a
                  school that triumphed over a numerous adversities for nearly a
                  period of century has become a National school since ……….
                  April 2021. People from all walks of life aspire and sincerely
                  wish that their school may flourish by leaps and bounds to
                  produce a bunch of people who are worthy and useful citizens
                  to the world.{% endblocktranslate %}
                </p>
              </div>
            </div>
            <!-- End single blog -->
            <div class="col-lg-12 col-12 col-sm-12">
                <div class="single_blog">
                  <h2 class="blog_title">
                    <a href="blog-single.html">Principles</a>
                  </h2>
                  <table>
                    <tr>
                      <th>Name</th>
                      <th>Start Date</th>
                      <th>End Date</th> 
                    </tr>
                    {% for principal in principals %}
                    <tr>
                        <td>{{ principal.name }}</td>
                        <td>{{ principal.start_date }}</td>
                        <td>{{ principal.end_date }}</td>
                    </tr>
                    {% endfor %}
                 </table>
                </div>
              </div>
          </div>
          
          <!-- end blog archive  -->
        </div>
      </div>
      <!-- End course content -->

      <!-- start course archive sidebar -->
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="courseArchive_sidebar">
          <!-- start single sidebar -->
          <div class="single_sidebar">
            <a class="side_add p-2" href="#"
              ><img src="{% static 'img/side-add.jpg' %}" alt="img"
            /></a>
            <h2>Sponsor Add <span class="fa fa-angle-double-right"></span></h2>
            <a class="side_add" href="#"
              ><img src="{% static 'img/side-add.jpg' %}" alt="img"
            /></a>
            <h2>Sponsor Add <span class="fa fa-angle-double-right"></span></h2>
          </div>
          <!-- End single sidebar -->
        </div>
      </div>
      <!-- start course archive sidebar -->
    </div>
  </div>
</section>

<!--=========== END COURSE BANNER SECTION ================-->

{% endblock content %}
